#set($version='?v=2.2.6')
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$!{dictTool.getSysText('index.title',$!{spinwin.id})}</title>
<meta charset="UTF-8">
<meta content="yes" name="apple-mobile-web-app-capable"></meta>
<meta content="black" name="apple-mobile-web-app-status-bar-style"></meta>
<meta name="format-detection" content="telephone=no"></meta>
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"></meta>
<meta content="yes" name="full-screen"></meta>
<meta content="true" name="x5-fullscreen"></meta>
<meta content="application" name="browsermode"></meta>
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="$!{basePath}/content/spinwin/css/activity-style.css$!{version}" type="text/css" rel="stylesheet" />
<script src="$!{basePath}/content/spinwin/js/jquery.min.js" type="text/javascript"></script>
<script src="$!{basePath}/content/spinwin/js/jquery.js$!{version}" type="text/javascript"></script>
<script type="text/javascript" src="$!{basePath}/content/spinwin/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="$!{basePath}/content/spinwin/js/jquery.rotate.min.js"></script>
<script src="$!{basePath}/content/spinwin/js/common.js$!{version}" type="text/javascript"></script>
<script src="$!{basePath}/content/spinwin/js/wxcheck.js$!{version}" type="text/javascript"></script>
</head>
<body class="activity-lottery-winning">
<script type="text/javascript">
var loadingObj = new loading(document.getElementById('loading'),{radius:20,circleLineWidth:8});   
    loadingObj.show();
</script>
	<div class="main">
		<div id="outercont">
			<div id="outer-cont">
				<div id="outer"><img src="$!{basePath}/content/spinwin/img/activity-lottery-1.png" width="310px"></div>
			</div>
			<div id="inner-cont">
				<div id="inner"><img src="$!{basePath}/content/spinwin/img/activity-lottery-2.png"></div>
			</div>
		</div>
		<div class="content">
			<div class="boxcontent boxyellow" id="result" style="display:none">
			<div class="box">
				<div class="title-orange"><span>恭喜你中奖了</span></div>
				<div class="Detail">
					<p>你中了：<span class="red" id="prizetype">一等奖</span></p>
					<p>
						<input type="text" class="px" id="username" name="username" placeholder="请认真输入姓名" />
					</p>
					<p>
						<input type="text" class="px" id="tel" name="tel" placeholder="输入您的手机号码">
					</p>
					<p>
						<input type="text" class="px" id="address" name="address" placeholder="请输入地址" />
					</p>
					<p>
						<input class="pxbtn" id="save-btn" name="提 交" type="button" value="提 交">
					</p>
					<input name="recordId"  id="recordId" type="hidden">
				</div>
			</div>
		</div>
		<div class="boxcontent boxyellow">
			<div class="box">
				<div class="title-green"><span>奖项设置：</span></div>
				<div class="Detail">
					#foreach($prize in $prizeList)
					<p>$!prize.awardsName：$!prize.name 。奖品数量：$!prize.amount </p>
					#end
				</div>
			</div>
		</div>
		<div class="boxcontent boxyellow">
			<div class="box">
				<div class="title-green">活动说明：</div>
					<div class="Detail">
						#if($perday)
						<p>本次活动每人可抽$!{spinwin.count}次。您还有<span id="num">#set($newNum=$!{spinwin.count} - $!{registration.awardsNum})$newNum</span>次机会</p>
						#else
						<p>本次活动每人可抽$!{spinwin.count}次。每天可抽$!{spinwin.numPerDay}次，您今天还有<span id="count">#set($newNum=$!{spinwin.numPerDay} - $!{registration.awardsNum})$newNum</span>次机会</p>
						#end
					</div>
				</div>
			</div>
		</div>
	</div>

<input type="hidden" name="actId" id="actId" value="$!{spinwin.id}"/>
<input type="hidden" name="openid" id="openid" value="$!{weixinDto.openid}"/>
<input type="hidden" name="nickname" id="nickname" value="$!{weixinDto.nickname}"/>
<input type="hidden" name="subscribe" id="subscribe" value="$!{weixinDto.subscribe}"/>
<input type="hidden" name="jwid" id="jwid" value="$!{weixinDto.jwid}"/>
<input type="hidden" name="appid" id="appid" value="$!{weixinDto.appid}"/>
</body>
<!-- 微信分享功能 -->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
	wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '$!{appId}', // 必填，公众号的唯一标识
        timestamp: $!{timestamp}, // 必填，生成签名的时间戳
        nonceStr: '$!{nonceStr}', // 必填，生成签名的随机串
        signature: '$!{signature}',// 必填，签名，见附录1【必填：通过提供接口获取】
        jsApiList: [
    	        'checkJsApi',
    	        'onMenuShareTimeline',
    	        'onMenuShareAppMessage'
    	        ]
         // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function () {
		var newHdUrl = '$!{hdUrl}';
		var friendCircleTitle = '$!{dictTool.getSysText('index.tip.shareFriendCircle',$!{spinwin.id})}';
		var friendTitle = '$!{dictTool.getSysText('index.tip.shareFriendTitle',$!{spinwin.id})}';
		var friendDesc = '$!{dictTool.getSysText('index.tip.shareFriend',$!{spinwin.id})}';
 	    wx.onMenuShareTimeline({
            title:friendCircleTitle , // 分享标题【必填】
            link: newHdUrl, // 分享链接【必填】
            imgUrl: '$!{dictTool.getSysText('index.img.share',$!{spinwin.id})}', // 分享图标【必填】
            success: function () { 
                // 用户确认分享后执行的回调函数
            },
            cancel: function () { 
                // 用户取消分享后执行的回调函数
            }
        });
        

        wx.onMenuShareAppMessage({
            title: friendTitle, // 分享标题【必填】
            desc: friendDesc, // 分享描述【必填】
            link: newHdUrl, // 分享链接【必填】
            imgUrl: '$!{dictTool.getSysText('index.img.share',$!{spinwin.id})}', // 分享图标【必填】
            type: 'link', // 分享类型,music、video或link，不填默认为link【必填】
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () { 
                // 用户确认分享后执行的回调函数
				alert('已分享');
            },
            cancel: function () { 
                // 用户取消分享后执行的回调函数
				 alert('已取消');
            }
        });

  	});
	
</script>
<script type="text/javascript">
function myprize(){
	location.href='$!{basePath}/spinwin/myprizes.do?actId=$!{spinwin.id}&openid=$!{weixinDto.openid}&jwid=$!{weixinDto.jwid}&subscribe=$!{weixinDto.subscribe}&appid=$!{weixinDto.appid}'
}

function winners(){
	location.href='$!{basePath}/spinwin/winners.do?actId=$!{spinwin.id}&jwid=$!{weixinDto.jwid}&openid=$!{weixinDto.openid}&subscribe=$!{weixinDto.subscribe}&appid=$!{weixinDto.appid}'
}
</script>
$!{dictTool.getSysText('statistics',$!{spinwin.id})}
</html>
